tempCodeRunnerFile.python
secrets.txt
.bfg-report/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
build/KeepAliveManager/Analysis-00.toc
build/KeepAliveManager/EXE-00.toc
build/KeepAliveManager/KeepAliveManager.pkg
build/KeepAliveManager/PKG-00.toc
build/KeepAliveManager/PYZ-00.pyz
build/KeepAliveManager/PYZ-00.toc
build/KeepAliveManager/warn-KeepAliveManager.txt
build/KeepAliveManager/xref-KeepAliveManager.html
build/KeepAliveManager/localpycs/pyimod01_archive.pyc
build/KeepAliveManager/localpycs/pyimod02_importers.pyc
build/KeepAliveManager/localpycs/pyimod03_ctypes.pyc
build/KeepAliveManager/localpycs/pyimod04_pywin32.pyc
build/KeepAliveManager/localpycs/struct.pyc
build_temp/KeepAliveRDP/Analysis-00.toc
build_temp/KeepAliveRDP/base_library.zip
build_temp/KeepAliveRDP/PYZ-00.pyz
build_temp/KeepAliveRDP/PYZ-00.toc
build_temp/KeepAliveRDP/warn-KeepAliveRDP.txt
build_temp/KeepAliveRDP/xref-KeepAliveRDP.html
build_temp/KeepAliveRDP/localpycs/pyimod01_archive.pyc
build_temp/KeepAliveRDP/localpycs/pyimod02_importers.pyc
build_temp/KeepAliveRDP/localpycs/pyimod03_ctypes.pyc
build_temp/KeepAliveRDP/localpycs/pyimod04_pywin32.pyc
build_temp/KeepAliveRDP/localpycs/struct.pyc
build_temp/KeepAliveRDP/KeepAliveRDP.pkg
